    <%- include ('/include/header') %>
    
    <div class="container">
        <span class='m-2 bg-danger text-white'><%= msg %></span>
        <div class='row' style='margin-top:20px'>
            <div class='col-md-4 col-md-offset-4'>
            <form action='/login' method="POST">
                <div class='form-group'>
                    <input class='form-control' name='email' type='email' placeholder='Enter your email' required/>
                </div>
                <div class='form-group'>
                    <input class='form-control' name='password' type='password' placeholder='Enter your password' required/>
                </div>
                <button style='float:right' type='submit' class='btn btn-secondary btn-sm m-2'>Login</button>
            </form> 
        </div>           
    </div>
        <span class="m-2">Don't have account?</span><a class="btn border" href="/register">Register</a> 
    </div>
        



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/owl.carousel.min.js"></script> -->
    </body>
</html>