/* Homepage */
.img-bg img{
    margin-top: 30px;
}

@media screen and (max-width:768px){
    .img-bg img{
        width: 100%;
}
}
.std-box{
    margin: 10px 0px auto !important;
    width: auto;
    height: auto;
}

.std-box h6{
    width: fit-content;
    margin: auto !important;
    background-color: brown;
    color: white;
}

.btn-main{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.btn-main .btn-box{
    width: 160px;
    float: right; 
    text-align: center;
    margin: 20px 0;
    clear: both;
}

.btn-main a{
    border: 1px solid olivedrab;
}

@media screen and (max-width:768px){
    .btn-main .btn-box{
        float: none !important;
        margin: 20px auto !important;
        clear: inherit !important;
    }
    .img-bg .form-bg{
        width: 80% !important;
    }
}

.img-bg{
    width: 100%;
    text-align: center;
    /* border: 2px solid black; */
    height: auto;
}

/* Add Student */
.img-bg .form-bg{
    width: 40%;
    margin: auto;
}

/* Put icons within form input */
.left-addon input  { padding-left:  40px; }
.left-addon i  { 
    position: absolute;
    padding:  10px; 
}